.footer {
    background-color: $secondaryColor;

    &__container {
    }

    &__body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        justify-content: stretch;
        justify-items: center;
        @include adaptiveValue("row-gap", 28px, 32px, $minWidth, $smallMobile);
        padding: 40px 0;
        line-height: 1;
        @include adaptiveValue("font-size", 16px, 18px, $minWidth, $smallMobile);
        font-weight: 600;
        color: $thirdColor;

        @media (min-width: $smallMobile) {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            justify-content: space-around;
            justify-items: start;
            align-items: end;
            @include adaptiveValue("row-gap", 24px, 28px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 16px, 18px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            justify-content: space-between;
            @include adaptiveValue("font-size", 16px, 18px, $mobile, $tablet);
        }
    }

    &__logo {
        display: block;
        position: relative;
        @include adaptiveValue("width", 130px, 155px, $minWidth, $smallMobile);
        @include adaptiveValue("height", 50px, 60px, $minWidth, $smallMobile);

        @media (min-width: $smallMobile) {
            @include adaptiveValue("width", 124px, 140px, $smallMobile, $mobile);
            @include adaptiveValue("height", 48px, 54px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("width", 130px, 145px, $mobile, $tablet);
            @include adaptiveValue("height", 50px, 56px, $mobile, $tablet);
        }
    }

    &__logo-r {
        display: block;
        position: absolute;
        top: -29%;
        right: -12%;
        width: 9.7%;
        height: 25%;
        fill: #C5C0DE;
    }

    &__logo-ahau {
        display: block;
        width: 100%;
        height: 64.3%;
        fill: #C5C0DE;
    }

    &__logo-marine-pro {
        display: block;
        width: 100%;
        height: 35.7%;
        fill: #C5C0DE;
    }

    &__menu {

        @media (min-width: $smallMobile) {
            grid-column: 2/3; 
            grid-row: 1/3;
        }

        @media (min-width: $mobile) {
            grid-row: 1/2;
        }
    }

    &__menu-list {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        @include adaptiveValue("row-gap", 16px, 18px, $minWidth, $smallMobile);

        @media (min-width: $smallMobile) {
            justify-items: start;
            @include adaptiveValue("row-gap", 16px, 18px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr;
            justify-content: space-between;
            @include adaptiveValue("row-gap", 18px, 20px, $mobile, $tablet);
            @include adaptiveValue("column-gap", 25px, 200px, $mobile, $tablet);
        }

        @media (min-width: $tablet) {
            column-gap: 200px;
        }
    }

    &__menu-item {
    }

    &__menu-link {
        display: block;
        white-space: nowrap;
        transition: color 0.3s ease;

        @media (any-hover: hover) {

            &:hover {
                color: $primaryColor;
            }
        } 

        &:active {
            color: $primaryColor;
        }
    }

    &__contact {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        @include adaptiveValue("gap", 16px, 18px, $minWidth, $smallMobile);

        @media (min-width: $smallMobile) {
            grid-column: 1/2; 
            grid-row: 2/3;
            align-items: flex-start;
            @include adaptiveValue("gap", 6px, 10px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            grid-column: 3/4;
            grid-row: 1/2;
            @include adaptiveValue("gap", 18px, 20px, $mobile, $tablet);
        }
    }

    &__contact-link {
        transition: color 0.3s ease;

        @media (any-hover: hover) {

            &:hover {
                color: $primaryColor;
            }
        } 

        &:active {
            color: $primaryColor;
        }
    }
}
