.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: none;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgb(34, 48, 91, 0.2);
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 200;
    transition: backdrop-filter 0.5s ease, 
                opacity  0.5s ease;

    &_opened {
        opacity: 1;
        backdrop-filter: blur(10px);
        pointer-events: auto;
    }

    &__wrapper {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $containerPadding;
    }
 
    &__content {
        position: relative;
        min-width: calc($minWidth - $containerPadding * 2);
        @include adaptiveValue("width", 280px, 340px, $minWidth, $smallMobile);
        @include adaptiveValue("padding-top", 25px, 70px, $smallMobile, $tablet);
        @include adaptiveValue("padding-bottom", 20px, 60px, $smallMobile, $tablet);
        @include adaptiveValue("padding-left", 20px, 60px, $smallMobile, $tablet);
        @include adaptiveValue("padding-right", 20px, 60px, $smallMobile, $tablet);
        background-color: $fourthColor;
        color: $secondaryColor;
        border-radius: 30px;
        transform: scale(0, 0);
        transition: transform 0.3s ease;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("width", 340px, 580px, $smallMobile, $tablet);
        }

        .popup_opened & {
            transform: none;
        }
    }
    
    &__close {
        position: absolute;
        top: -50px;
        right: -4px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        @media (min-width: $mobile) {
            top: -4px;
            right: -56px;
            width: 32px;
            height: 32px;
        }

        @include mobileClickAnimation;
    }

    &__close-stripe {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 5.5%);
        left: 0;
        width: 100%;
        height: 11%;
        border-radius: 1.5px;
        background-color: $secondaryColor;
        transform: rotate(45deg);
        transition: all 0.3s ease;

        &:first-child {
            transform: rotate(-45deg);
        }

        @media (any-hover: hover) {
            
            .popup__close:hover & {               
                background-color: $primaryColor;
            }

            .popup__close_clicked & {
                background-color: $primaryColor;
            }
        }
    }
}

.order-popup {
    
    &__wrapper {
    }
    
    &__content {
        background-color: $secondaryColor;

        @media (min-width: $mobile) {
            @include adaptiveValue("width", 620px, 980px, $mobile, $tablet);
            @include adaptiveValue("padding-left", 20px, 40px, $smallMobile, $tablet);
            @include adaptiveValue("padding-right", 20px, 40px, $smallMobile, $tablet);
            background: linear-gradient(to right, $secondaryColor 50%, $fourthColor 50%, $fourthColor 100%);
        }
    }
    
    &__close {
    }
    
    &__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        justify-content: center;
        justify-items: center;
        @include adaptiveValue("row-gap", 15px, 20px, $smallMobile, $tablet);
        color: $fourthColor;
        
        @media (min-width: $smallMobile) {
            max-width: 90%;
            margin: 0 auto;
        }

        @media (min-width: $mobile) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(6, auto);
            @include adaptiveValue("column-gap", 40px, 80px, $mobile, $tablet);
            max-width: 100%;
            margin: 0;
        }
    }

    &__header {
        text-align: center;
        line-height: 1;
        @include adaptiveValue("font-size", 20px, 40px, $smallMobile, $tablet);
        font-weight: 700;
        
        @media (min-width: $mobile) {
            grid-column: 1/2; 
            grid-row: 1/2;
        }
    }

    &__model-title {
        justify-self: start;
        transform: translateY(50%);
        line-height: 1;
        @include adaptiveValue("font-size", 16px, 22px, $smallMobile, $tablet);
        font-weight: 400;

        @media (min-width: $mobile) {
            grid-column: 2/3; 
            grid-row: 1/2;
            align-self: end;
            transform: translateY(-5%);
            color: $secondaryColor;
        }
    }

    &__model-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        @include adaptiveValue("line-height", 20px, 26px, $smallMobile, $tablet);
        @include adaptiveValue("font-size", 16px, 22px, $smallMobile, $tablet);
        font-weight: 700;
        color: $primaryColor;

        @media (min-width: $mobile) {
            grid-column: 2/3; 
            grid-row: 2/3;
            align-self: start;
            transform: translateY(-50%);
        }
    }

    &__model,
    &__price {
        position: relative;
        flex: 0 0 auto;
    }

    &__model-value,
    &__price-value {
        display: block;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;

        &.catalog-tab-content_active {
            position: static;
            opacity: 1;
        }
    }

    &__model-image {
        position: relative;
        width: 100%;
        background-color: $fourthColor;

        @media (min-width: $mobile) {
            height: 100%;
            grid-column: 2/3; 
            grid-row: 3/6;
        }
    }

    &__model-photo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;

        @media (min-width: $mobile) {
            width: auto;
            height: 150%;
            transform: translate(-50%, -65%);
        }
        
        &.catalog-tab-content_active {
            position: relative;
            opacity: 1;
            
            @media (min-width: $mobile) {
                position: absolute;
            }
        }
    }
    
    &__text {
        width: 100%;
        text-align: center;
        @include adaptiveValue("line-height", 16px, 22px, $smallMobile, $tablet);
        @include adaptiveValue("font-size", 14px, 18px, $smallMobile, $tablet);
        font-weight: 400;

        @media (min-width: $mobile) {
            grid-column: 1/2; 
            grid-row: 2/3;
            @include adaptiveValue("margin-top", 15px, 30px, $mobile, $tablet);
            @include adaptiveValue("margin-bottom", 15px, 30px, $mobile, $tablet);
        }
    }

    &__input {

        @media (min-width: $mobile) {
            @include adaptiveValue("height", 36px, 50px, $smallMobile, $tablet);
        }

        &_type_name {

            @media (min-width: $mobile) {
                grid-column: 1/2; 
                grid-row: 3/4;
            }
        }

        &_type_phone {

            @media (min-width: $mobile) {
                grid-column: 1/2; 
                grid-row: 4/5;
            }
        }

        &_type_mail {

            @media (min-width: $mobile) {
                grid-column: 1/2; 
                grid-row: 5/6;
            }
        }
    }

    &__agreement {

        @media (min-width: $mobile) {
            grid-column: 1/2; 
            grid-row: 6/7;
        }
    }

    &__agreement-input {
        display: block;
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__agreement-checkbox {
    }

    &__agreement-hexagon {
    }

    &__button {
        width: 100%;
        flex: 0 0 auto;

        @media (min-width: $mobile) {
            grid-column: 2/3; 
            grid-row: 6/7;
        }
    }
    
    &__button-text {
    }

    &__sending-screen {  
    }
}

.contact-popup {

    &__wrapper {
    }

    &__content {
        background-color: $secondaryColor;
        color: $secondaryColor;
        @media (min-width: $smallMobile) {
            @include adaptiveValue("width", 440px, 980px, $smallMobile, $tablet);
        }
    }

    &__close {
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        @include adaptiveValue("gap", 10px, 20px, $smallMobile, $tablet);
        width: 100%;

        @media (min-width: $smallMobile) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__input {

        &_type_name {

            @media (min-width: $smallMobile) {
                grid-column: 1/2; 
                grid-row: 1/2;
            }
        }

        &_type_phone {

            @media (min-width: $smallMobile) {
                grid-column: 2/3; 
                grid-row: 1/2;
            }
        }

        &_type_mail {

            @media (min-width: $smallMobile) {
                grid-column: 1/2; 
                grid-row: 2/3;
            }
        }
        
        &_type_subject {

            @media (min-width: $smallMobile) {
                grid-column: 2/3; 
                grid-row: 2/3;
            }
        }

        &_type_message {

            @media (min-width: $smallMobile) {
                grid-column: 1/3; 
                grid-row: 3/4;
            }
        }
    }

    &__agreement {

        @media (min-width: $smallMobile) {
            grid-column: 1/3; 
            grid-row: 4/5;
        }
    }

    &__agreement-input {
    }

    &__agreement-checkbox {
    }

    &__agreement-hexagon {
    }

    &__button {
        height: 50px;
        
        @media (min-width: $smallMobile) {
            grid-column: 1/3; 
            grid-row: 5/6;
            justify-self: center;
            @include adaptiveValue("width", 250px, 400px, $smallMobile, $tablet);
            @include adaptiveValue("height", 50px, 70px, $smallMobile, $tablet);
            @include adaptiveValue("padding-left", 40px, 80px, $smallMobile, $tablet);
            @include adaptiveValue("padding-right", 40px, 80px, $smallMobile, $tablet);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("height", 50px, 70px, $smallMobile, $tablet);
        }
    }

    &__button-text {
        @include adaptiveValue("font-size", 18px, 24px, $smallMobile, $maxContainerWidth);
    }

    &__sending-screen {
    }
}

.checkout-popup,
.message-popup {

    &__wrapper {
    }

    &__content {
        text-align: center;
    }

    &__close {
    }

    &__header {
        @include adaptiveValue("margin-bottom", 15px, 20px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("line-height", 24px, 48px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("font-size", 20px, 40px, $smallMobile, $maxContainerWidth);
        font-weight: 700;
        color: $primaryColor;
    }

    &__text {
        @include adaptiveValue("line-height", 20px, 28px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("font-size", 16px, 24px, $smallMobile, $maxContainerWidth);
        font-weight: 500;
    }
}

.fail-popup {

    &__wrapper {
    }

    &__content {
        text-align: center;
    }

    &__close {
    }

    &__header {
        @include adaptiveValue("margin-bottom", 15px, 20px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("line-height", 24px, 36px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("font-size", 18px, 32px, $smallMobile, $maxContainerWidth);
        font-weight: 700;
        color: $primaryColor;
    }

    &__text {
        @include adaptiveValue("line-height", 20px, 28px, $smallMobile, $maxContainerWidth);
        @include adaptiveValue("font-size", 16px, 24px, $smallMobile, $maxContainerWidth);
        font-weight: 500;
    }
}
