.about {
    padding-top: 0;
    padding-bottom: 0;
    
    @media (min-width: $smallMobile) {  
        @include adaptiveValue("padding-top", 30px, 80px);
        @include adaptiveValue("padding-bottom", 30px, 120px);
    }

    &__container {
        position: relative;
    }

    &__title {
        margin: 0 calc(-1 * $containerPadding);
        padding-top: 20px;
        background-color: $primaryColor;
        font-size: 24px;
        color: $fourthColor;

        @media (min-width: $smallMobile) {
            margin: 0;
            padding: 0;
            @include adaptiveValue("margin-bottom", 30px, 60px, $mobile, $tablet);
            background-color: transparent;
            @include adaptiveValue("font-size", 28px, 48px, $mobile, $tablet);
            color: $primaryColor;
        }
    }

    &__hexagon-1 {
        display: none;

        @media (min-width: $smallMobile) {
            display: block;
            position: absolute;
            @include adaptiveValue("top", -20px, -50px, $smallMobile, $mobile);
            left: -4vw;
            transform: rotate(15deg);
            width: 30vw;
            height: 30vw;
            stroke-width: 2vw;
            fill: transparent;
            stroke: $primaryColor;
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("top", -40px, -20px, $mobile, $tablet);
            @include adaptiveValue("left", 0px, -20px, $mobile, $tablet);
            width: 20vw;
            height: 20vw;
            stroke-width: 1vw;
            stroke: $secondaryColor;
        }

        @media (min-width: $tablet) {
            @include adaptiveValue("left", -20px, -110px, $tablet, 1550px);
            width: calc($tablet * 0.2);
            height: calc($tablet * 0.2);
            stroke-width: calc($tablet * 0.01);
        }
    }

    &__hexagon-2 {
        display: none;

        @media (min-width: $smallMobile) {
            display: block;
            position: absolute;
            @include adaptiveValue("top", -15px, -60px, $smallMobile, $mobile);
            right: 9vw;
            transform: rotate(45deg);
            width: 20vw;
            height: 20vw;
            stroke-width: 3vw;
            fill: transparent;
            stroke: $primaryColor;
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("top", 0px, 0px, $mobile, $tablet);
            right: 10vw;
            width: 10vw;
            height: 10vw;
            stroke-width: 1.8vw;
        }
        
        @media (min-width: $tablet) {
            right: calc($tablet * 0.1);
            width: calc($tablet * 0.1);
            height: calc($tablet * 0.1);
            stroke-width: calc($tablet * 0.018);
        }
    }

    &__hexagon-3 {
        display: none;

        @media (min-width: $smallMobile) {
            display: block;
            position: absolute;
            @include adaptiveValue("bottom", 70px, 100px, $smallMobile, $mobile);
            right: -4vw;
            transform: rotate(15deg);
            width: 30vw;
            height: 30vw;
            stroke-width: 2vw;
            fill: transparent;
            stroke: $secondaryColor;
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("bottom", -80px, -140px, $mobile, $tablet);
            right: 25vw;
            width: 20vw;
            height: 20vw;
            stroke-width: 1vw;
            stroke: $primaryColor;
        }

        @media (min-width: $tablet) {
            right: calc($tablet * 0.25);
            width: calc($tablet * 0.2);
            height: calc($tablet * 0.2);
            stroke-width: calc($tablet * 0.01);
        }
    }

    &__content {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        align-items: center;
        margin: 0 calc(-1 * $containerPadding);
        z-index: 1;
        color: $fourthColor;

        @media (min-width: $smallMobile) {
            flex-flow: column-reverse nowrap;
            width: 80%;
            @include adaptiveValue("width", 400px, 600px, $smallMobile, $mobile);
            margin: 0 auto;
            @include adaptiveValue("border-radius", 20px, 30px, $smallMobile, $mobile);
            overflow: hidden;
        }
        
        @media (min-width: $mobile) {
            width: 100%;
            flex-flow: row nowrap;
            justify-content: center;
            @include adaptiveValue("height", 260px, 400px, $mobile, $tablet);
            margin: 0;
            @include adaptiveValue("border-radius", 20px, 30px, $mobile, $tablet);
        }
    }

    &__slider-container {
        position: relative;
        width: 100%;
        min-width: 0;
        @include adaptiveValue("height", 150px, 170px, $minWidth, $smallMobile);
        @include adaptiveValue("padding-top", 20px, 30px, $minWidth, $smallMobile);
        @include adaptiveValue("padding-bottom", 20px, 30px, $minWidth, $smallMobile);
        @include adaptiveValue("padding-left", 40px, 50px, $minWidth, $smallMobile);
        @include adaptiveValue("padding-right", 40px, 50px, $minWidth, $smallMobile);
        background-color: $primaryColor;
        overflow: hidden;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("height", 200px, 350px, $minWidth, $mobile);
            @include adaptiveValue("padding", 30px, 65px, $minWidth, $mobile);
        }
        
        @media (min-width: $mobile) {
            flex: 0 0 45%;
            height: 100%;
            @include adaptiveValue("padding", 40px, 70px, $mobile, $tablet);
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__slider-wrapper {
    }

    &__slider-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        text-transform: uppercase;
        font-family: $primaryFontFamily;
        @include adaptiveValue("line-height", 50px, 55px, $minWidth, $smallMobile);
        @include adaptiveValue("font-size", 20px, 30px, $minWidth, $smallMobile);
        font-weight: 700;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("line-height", 60px, 100px, $minWidth, $mobile);
            @include adaptiveValue("font-size", 20px, 40px, $minWidth, $mobile);
        }
        
        @media (min-width: $mobile) {
            @include adaptiveValue("line-height", 60px, 100px, $mobile, $tablet);
            @include adaptiveValue("font-size", 22px, 40px, $mobile, $tablet);
        }
    }

    &__prev-button,
    &__next-button {
        fill: $fourthColor;

        @media (any-hover: hover) { 

            &:hover { 
                fill: $secondaryColor;
            }
        }
    }

    &__prev-icon {
    } 

    &__next-icon {
    }

    &__pagination {
        display: none;

        @media (min-width: $smallMobile) {
            display: flex;
            position: absolute;
            left: 0;
            bottom: 5%;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            @include adaptiveValue("gap", 15px, 20px, $minWidth, $mobile);
            width: 100%;
            z-index: 5;
        }

        @media (min-width: $mobile) {
            bottom: 10%;
            @include adaptiveValue("gap", 15px, 25px, $mobile, $tablet);
        }

        .swiper-pagination-bullet {
            display: block;
            @include adaptiveValue("width", 20px, 30px, $minWidth, $mobile);
            @include adaptiveValue("height", 20px, 30px, $minWidth, $mobile);
            fill: transparent;
            cursor: pointer;
            transition: fill 0.3s ease;
            -webkit-tap-highlight-color: transparent;

            @media (min-width: $mobile) {
                @include adaptiveValue("width", 15px, 30px, $mobile, $tablet);
                @include adaptiveValue("height", 15px, 30px, $mobile, $tablet);
            }

            @media (any-hover: hover) {
                &:hover:not(.swiper-pagination-bullet-active) {
                    fill: $fourthColor;
                    fill-opacity: 0.5;
                }
            }
        }

        .swiper-pagination-bullet-active {
            fill: $fourthColor;
        }
    }

    &__hexagon-bullet {
        display: block;
        width: 100%;
        height: 100%;
        stroke: $fourthColor;
        stroke-width: 2;
    }

    &__thumbs-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        //@include adaptiveValue("height", 280px, 320px, $minWidth, $smallMobile);
        background-color: $secondaryColor;
        overflow: hidden;

        @media (min-width: $smallMobile) {
            //@include adaptiveValue("height", 280px, 480px, $minWidth, $mobile);
        }
        
        @media (min-width: $mobile) {
            flex: 0 0 55%;
            height: 100%;
        } 
    }

    &__thumbs {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__thumbs-wrapper {
    }

    &__thumbs-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        @include adaptiveValue("padding", $containerPadding, 40px, $minWidth, $mobile);
        line-height: 1.2;
        @include adaptiveValue("font-size", 14px, 24px, $minWidth, $mobile);

        @media (min-width: $mobile) {
            @include adaptiveValue("padding", 15px, 30px, $mobile, $tablet);
            @include adaptiveValue("font-size", 16px, 24px, $mobile, $tablet);
        }
    }
}
