.about {

    &__container {
    }

    &__title {
        text-transform: uppercase;
        @include adaptiveValue("line-height", 29px, 58px, $mobile, $tablet);
        @include adaptiveValue("font-size", 24px, 48px, $mobile, $tablet);
        font-weight: 800;
        color: $primaryColor;
    }
}