.contact {
    @include adaptiveValue("padding-top", 30px, 80px);
    @include adaptiveValue("padding-bottom", 30px, 80px);
    background-color: $thirdColor;

    &__container {

    }

    &__title {
        @include adaptiveValue("margin-bottom", 30px, 60px, $mobile, $tablet);
    }

    &__content {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        justify-content: space-between;
        
        @media (min-width: $mobile) {
            flex-flow: row nowrap;
            justify-content: space-between;
            @include adaptiveValue("gap", 20px, 30px, $mobile, $tablet);
        }
    }

    &__hexagon-1 {
        display: none;

        @media (min-width: $smallMobile) {
            display: block;
            position: absolute;
            @include adaptiveValue("bottom", 250px, 270px, $smallMobile, $mobile);
            left: 35vw;
            transform: rotate(15deg);
            width: 50vw;
            height: 50vw;
            stroke-width: 3vw;
            fill: transparent;
            stroke: #efeff7;
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("bottom", -30px, -40px, $mobile, $tablet);
            @include adaptiveValue("left", 10px, 20px, $mobile, $tablet);
            width: 35vw;
            height: 35vw;
            stroke-width: 2vw;
        }

        @media (min-width: $tablet) {
            width: calc($tablet * 0.35);
            height: calc($tablet * 0.35);
            stroke-width: calc($tablet * 0.02);
        }
    }

    &__hexagon-2 {
        display: none;

        @media (min-width: $smallMobile) {
            display: block;
            position: absolute;
            @include adaptiveValue("top", 470px, 550px, $smallMobile, $mobile);
            right: 5vw;
            transform: rotate(45deg);
            width: 25vw;
            height: 25vw;
            stroke-width: 5vw;
            fill: transparent;
            stroke: #dfdee7;
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("top", -110px, -210px, $mobile, $tablet);
            right: 2vw;
            width: 23vw;
            height: 23vw;
            stroke-width: 2vw;
        }
        
        @media (min-width: $tablet) {
            right: calc($tablet * 0.02);
            width: calc($tablet * 0.23);
            height: calc($tablet * 0.23);
            stroke-width: calc($tablet * 0.02);
        }
    }

    &__info {
        z-index: 1;

        @media (min-width: $mobile) {
            flex: 0 0 35%;
        }
    }

    &__info-block {
        display: flex;
        flex-flow: row nowrap;
        @include adaptiveValue("margin-bottom", 15px, 20px, $minWidth, $smallMobile);

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-bottom", 20px, 25px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            flex-flow: column nowrap;
            @include adaptiveValue("margin-bottom", 20px, 25px, $mobile, $tablet);
        }
    }

    &__questions {
        z-index: 1;

        @media (min-width: $mobile) {
            flex: 1 1 auto;
        }
    }

    &__questions-title {
        line-height: 1;
        @include adaptiveValue("margin-top", 10px, 15px, $minWidth, $smallMobile);
        @include adaptiveValue("margin-bottom", 15px, 20px, $minWidth, $smallMobile);
        @include adaptiveValue("font-size", 16px, 22px, $minWidth, $smallMobile);
        font-weight: 700;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-top", 20px, 25px, $smallMobile, $mobile);
            @include adaptiveValue("margin-bottom", 20px, 25px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 22px, 24px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-top", -2px, 6px, $mobile, $tablet);
            @include adaptiveValue("margin-bottom", 20px, 25px, $mobile, $tablet);
            @include adaptiveValue("font-size", 20px, 24px, $mobile, $tablet);
        }
    }

    &__question-form {
    }
}
    
.info-block {

    &__title {
        white-space: nowrap;
        line-height: 1.2;
        @include adaptiveValue("font-size", 15px, 20px, $minWidth, $smallMobile);
        font-weight: 600;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("font-size", 18px, 24px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("font-size", 18px, 22px, $mobile, $tablet);
        }
    }

    &__title-icon {
        display: inline-block;
        @include adaptiveValue("margin-right", 2px, 7px, $minWidth, $smallMobile);
        @include adaptiveValue("width", 14px, 20px, $minWidth, $smallMobile);
        @include adaptiveValue("height", 14px, 20px, $minWidth, $smallMobile);
        fill: $secondaryColor;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-right", 7px, 10px, $smallMobile, $mobile);
            @include adaptiveValue("width", 20px, 28px, $smallMobile, $mobile);
            @include adaptiveValue("height", 20px, 28px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-right", 5px, 10px, $mobile, $tablet);
            @include adaptiveValue("width", 16px, 28px, $mobile, $tablet);
            @include adaptiveValue("height", 16px, 28px, $mobile, $tablet);
        }

        &_type_adress {
            transform: translateY(2%);
        }

        &_type_email {
            transform: translateY(15%);
        }

        &_type_phone {
            transform: translateY(3%);
        }

        &_type_hours {
            transform: translateY(4%);
        }
    }

    &__info {
        @include adaptiveValue("margin-top", 1px, 4px, $minWidth, $smallMobile);
        @include adaptiveValue("margin-left", 5px, 20px, $minWidth, $smallMobile);
        line-height: 1.2;
        @include adaptiveValue("font-size", 14px, 18px, $minWidth, $smallMobile);
        font-weight: 500;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-top", 4px, 8px, $smallMobile, $mobile);
            @include adaptiveValue("margin-left", 15px, 20px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 18px, 22px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-left", 26px, 45px, $mobile, $tablet);
            @include adaptiveValue("font-size", 16px, 18px, $mobile, $tablet);
        }
    }
}

.question-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    @include adaptiveValue("gap", 15px, 20px, $smallMobile, $maxContainerWidth);
    width: 100%;

    @media (min-width: $smallMobile) {
        grid-template-columns: 1fr 1fr;
    }

    &__input {

        &_type_name {

            @media (min-width: $smallMobile) {
                grid-column: 1/2; 
                grid-row: 1/2;
            }
        }

        &_type_phone {

            @media (min-width: $smallMobile) {
                grid-column: 2/3; 
                grid-row: 1/2;
            }
        }

        &_type_mail {

            @media (min-width: $smallMobile) {
                grid-column: 1/2; 
                grid-row: 2/3;
            }
        }
        
        &_type_subject {

            @media (min-width: $smallMobile) {
                grid-column: 2/3; 
                grid-row: 2/3;
            }
        }

        &_type_message {

            @media (min-width: $smallMobile) {
                grid-column: 1/3; 
                grid-row: 3/4;
            }
        }
    }

    &__agreement {
        color: $secondaryColor;

        @media (min-width: $smallMobile) {
            grid-column: 1/3; 
            grid-row: 4/5;
        }
    }

    &__agreement-input {
    }

    &__agreement-checkbox {
    }

    &__agreement-hexagon {
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));
    }

    &__button {

        @media (min-width: $smallMobile) {
            grid-column: 1/2; 
            grid-row: 5/6;
            justify-self: start;
        }
    }

    &__button-text {
    }

    &__sending-screen {
    }
}


