.models {

    &__container {

    }

    &__title {
        @include adaptiveValue("margin-bottom", 30px, 60px, $mobile, $tablet);
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;
        
        @media (min-width: $mobile) {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;     
        }
    }

    &__galleries {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100vw;
        width: 100vw;
        min-width: $minWidth;
        min-height: $minWidth;
        margin-bottom: 30px;

        @media (min-width: $smallMobile) {
            width: 100%;
            @include adaptiveValue("flex-basis", 300px, 480px, $smallMobile, $mobile);
            min-width: auto;
            min-height: auto;
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("flex-basis", 370px, 700px, $mobile, $tablet);
            @include adaptiveValue("height", 300px, 550px, $mobile, $tablet);
            margin-bottom: 0;
        }
    }

    &__gallery {
        position: absolute;
        top: 0;
        left: -$containerPadding;

        @media (min-width: $smallMobile) {
            left: 0;
        }
    }

    &__choice {
    }
}

.slider-gallery {
    width: 100%;
    height: 100%;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease;

    @media (min-width: $smallMobile) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        left: 0;
    }

    @media (min-width: $mobile) {
        justify-content: space-between;
    }

    &.catalog-tab-content_active {
        pointer-events: auto;
        opacity: 1;
    }

    &__thumbs {
        display: none;

        @media (min-width: $smallMobile) {
            display: block;
            position: relative;
            flex: 0 0 auto;
        }
    }

    &__thumbs-slider {

        @media (min-width: $smallMobile) {
            @include adaptiveValue("width", 70px, 120px, $smallMobile, $mobile);
            @include adaptiveValue("height", 220px, 380px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("width", 70px, 120px, $mobile, $tablet);
            @include adaptiveValue("height", 220px, 380px, $mobile, $tablet);
        }
    }

    &__main-part {
        position: relative;

        @media (min-width: $smallMobile) {
            flex: 0 0 auto;
        }
    }

    &__main-slider {
        position: relative;
        width: 100vw;
        height: 100vw;
        min-width: $minWidth;
        min-height: $minWidth;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("width", 300px, 480px, $smallMobile, $mobile);
            @include adaptiveValue("height", 300px, 480px, $smallMobile, $mobile);
            min-width: auto;
            min-height: auto;
        }

        @media (min-width: $mobile) { 
            @include adaptiveValue("width", 300px, 550px, $mobile, $tablet);
            @include adaptiveValue("height", 300px, 550px, $mobile, $tablet);
        }
    }
}

.thumbs-slider {
    overflow: hidden;

    &__wrapper {
    }

    &__slide {
        position: relative;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    &__photo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        border-radius: 7px;
        border: 2px solid transparent;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.2));
        transition: border-color 0.3s ease;

        @media (any-hover: hover) {

            &:hover {           
                border-color: $primaryColor;
            }
        }

        .thumbs-slider .swiper-slide-thumb-active & {
            border-color: $primaryColor;
        }
    }
}

.main-slider {
    overflow: hidden;

    &__wrapper {
    }

    &__slide {
        position: relative;
    }

    &__photo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 120%;
        filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.3));
    }

    &__prev-button,
    &__next-button {
        display: block;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%) rotate(-90deg);
        z-index: 1;
        width: 7%;
        padding-bottom: 7%;
        background-color: transparent;
        fill: $secondaryColor;
        cursor: pointer;
        transition: fill 0.3s ease;

        @media (any-hover: hover) { 

            &:hover { 
                fill: $primaryColor;
            }
        }

        &:active { 
            fill: $primaryColor;
        }
    }
    
    &__next-button {
        left: auto;
        right: 5%;
        transform: translateY(-50%) rotate(90deg);
    }

    &__prev-icon, 
    &__next-icon {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

}

.choice {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: row;
    justify-items: start;
    align-items: center;
    margin-left: -$containerPadding;
    margin-right: -$containerPadding;
    padding: $containerPadding;
    @include adaptiveValue("column-gap", 10px, 20px, $minWidth, $smallMobile);
    line-height: 1;

    @media (min-width: $smallMobile) {
        @include adaptiveValue("column-gap", 20px, 30px, $smallMobile, $mobile);
        margin: 0;
        @include adaptiveValue("padding", 20px, 40px, $smallMobile, $mobile);
        border-radius: 7px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    @media (min-width: $mobile) {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        @include adaptiveValue("column-gap", 10px, 20px, $mobile, $tablet);
        @include adaptiveValue("padding", 20px, 40px, $mobile, $tablet);
    }

    &__parameter-title {
        @include adaptiveValue("margin-bottom", 10px, 20px, $minWidth, $smallMobile);
        line-height: 1.2;
        @include adaptiveValue("font-size", 14px, 18px, $minWidth, $smallMobile);
        font-weight: 600;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-bottom", 10px, 20px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 20px, 24px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 10px, 20px, $mobile, $tablet);
            @include adaptiveValue("font-size", 18px, 22px, $mobile, $tablet);
        }
    }

    &__model-buttons {
        @include adaptiveValue("margin-bottom", 10px, 20px, $minWidth, $smallMobile);

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-bottom", 10px, 20px, $smallMobile, $mobile);
        }
    
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 10px, 20px, $mobile, $tablet);
        }
    }

    &__color-buttons {
        @include adaptiveValue("margin-bottom", 10px, 20px, $minWidth, $smallMobile);

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-bottom", 10px, 20px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-bottom", 10px, 20px, $mobile, $tablet);
        }
    }

    &__characteristic-title {
        @include adaptiveValue("margin-top", 5px, 10px, $minWidth, $smallMobile);
        @include adaptiveValue("font-size", 12px, 16px, $minWidth, $smallMobile);
        font-weight: 600;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-top", 5px, 10px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 16px, 20px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-top", 5px, 10px, $mobile, $tablet);
            @include adaptiveValue("font-size", 14px, 18px, $mobile, $tablet);
        }
    }

    &__characteristic-value {
        @include adaptiveValue("margin-top", 5px, 10px, $minWidth, $smallMobile);
        @include adaptiveValue("font-size", 12px, 16px, $minWidth, $smallMobile);

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-top", 5px, 10px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 16px, 20px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-top", 5px, 10px, $mobile, $tablet);
            @include adaptiveValue("font-size", 14px, 18px, $mobile, $tablet);
        }
    }

    &__characteristic-value-opton {
    }

    &__details {
        @include adaptiveValue("margin-top", 10px, 20px, $minWidth, $smallMobile);
        @include adaptiveValue("margin-bottom", 10px, 20px, $minWidth, $smallMobile);
        border-bottom: 1px solid $secondaryColor;
        @include adaptiveValue("font-size", 12px, 16px, $minWidth, $smallMobile);
        font-weight: 700;
        opacity: 0.7;
        transition: opacity 0.3s ease;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-top", 10px, 20px, $smallMobile, $mobile);
            @include adaptiveValue("margin-bottom", 15px, 30px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 16px, 20px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-top", 10px, 20px, $mobile, $tablet);
            @include adaptiveValue("margin-bottom", 15px, 30px, $mobile, $tablet);
            @include adaptiveValue("font-size", 14px, 18px, $mobile, $tablet);
        }

        @media (any-hover: hover) {

            &:hover {           
                opacity: 1;
            }
        }
    }

    &__details-link {
    }

    &__brochure {
        @include adaptiveValue("margin-top", 6px, 13px, $minWidth, $smallMobile);
        @include adaptiveValue("margin-bottom", 10px, 20px, $minWidth, $smallMobile);
        border-bottom: 1px solid $secondaryColor;
        @include adaptiveValue("font-size", 12px, 16px, $minWidth, $smallMobile);
        font-weight: 700;
        opacity: 0.7;
        transition: opacity 0.3s ease, 
                    color 0.3s ease, 
                    border-bottom-color 0.3s ease;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-top", 6px, 13px, $smallMobile, $mobile);
            @include adaptiveValue("margin-bottom", 15px, 30px, $smallMobile, $mobile);
            @include adaptiveValue("font-size", 16px, 20px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-top", 6px, 13px, $mobile, $tablet);
            @include adaptiveValue("margin-bottom", 15px, 30px, $mobile, $tablet);
            @include adaptiveValue("font-size", 14px, 18px, $mobile, $tablet);
        }

        @media (any-hover: hover) {

            &:hover {           
                opacity: 1;
            }
        }

        &:active {
            opacity: 1;
            color: $primaryColor;
            border-bottom-color: $primaryColor;
        }
    }

    &__brochure-link {
    }

    &__brochure-icon {
        display: inline-block;
        @include adaptiveValue("width", 13px, 19px, $minWidth, $smallMobile);
        @include adaptiveValue("height", 14px, 20px, $minWidth, $smallMobile);
        fill: $secondaryColor;
        transition: fill 0.3s ease;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("margin-right", 3px, 7px, $smallMobile, $mobile);
            @include adaptiveValue("width", 17px, 21px, $smallMobile, $mobile);
            @include adaptiveValue("height", 18px, 23px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("margin-right", 3px, 7px, $mobile, $tablet);
            @include adaptiveValue("width", 15px, 20px, $mobile, $tablet);
            @include adaptiveValue("height", 16px, 21px, $mobile, $tablet);
        }

        .choice__brochure:active & {
            fill: $primaryColor;
        }
    }

    &__price {
        font-family: $primaryFontFamily;
        @include adaptiveValue("font-size", 18px, 26px, $minWidth, $smallMobile);
        font-weight: 700;
        color: $primaryColor;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("font-size", 20px, 30px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("font-size", 20px, 30px, $mobile, $tablet);
        }
    }

    &__price-opton {

    }

    &__order-button {

    }

    &__order-button-text {

    }
}

.model-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__button {
        position: relative;
        cursor: pointer;
        transition: color 0.3s ease;
        -webkit-tap-highlight-color: transparent;

        &.catalog-tab-button_active {
            color: $primaryColor;

            &::after {
                transform: scaleX(1);
                background-color: $primaryColor;
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            transform-origin: top left;
            transform: scaleX(0);
            background-color: $secondaryColor;
            transition: transform 0.3s ease, 
                        background-color 0.3s ease;

        }

        @media (any-hover: hover) {

            &:hover::after {           
                transform: scaleX(1);
            }
        }
    }
    
    &__button-text {
        font-family: $primaryFontFamily;
        @include adaptiveValue("font-size", 14px, 20px, $minWidth, $smallMobile);
        font-weight: 700;

        @media (min-width: $smallMobile) {
            @include adaptiveValue("font-size", 20px, 30px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("font-size", 16px, 24px, $mobile, $tablet);
        }
    }
}

.color-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    @include adaptiveValue("gap", 20px, 25px, $minWidth, $smallMobile);

    @media (min-width: $smallMobile) {
        @include adaptiveValue("gap", 20px, 25px, $smallMobile, $mobile);
    }

    @media (min-width: $mobile) {
        @include adaptiveValue("gap", 20px, 25px, $mobile, $tablet);
    }

    &__button {
        flex-grow: 0;
        flex-shrink: 0;
        @include adaptiveValue("flex-basis", 20px, 30px, $minWidth, $smallMobile);
        @include adaptiveValue("height", 20px, 30px, $minWidth, $smallMobile);
        border-radius: 50%;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        
        @media (min-width: $smallMobile) {
            @include adaptiveValue("flex-basis", 25px, 40px, $smallMobile, $mobile);
            @include adaptiveValue("height", 25px, 40px, $smallMobile, $mobile);
        }

        @media (min-width: $mobile) {
            @include adaptiveValue("flex-basis", 25px, 40px, $mobile, $tablet);
            @include adaptiveValue("height", 25px, 40px, $mobile, $tablet);
        }
        
        &_color_white {
            background: radial-gradient(farthest-side ellipse at 35% 35%, #EEE, #CCC);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        }
        
        &_color_black {
            background: radial-gradient(farthest-side ellipse at 35% 35%, #333, #111);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
        }
    }
}