.title-screen {
    width: 100%;
    min-height: 100%;
    
    &_loaded {
        will-change: clip-path;
        animation: clip-animation 1.25s cubic-bezier(0.29, 0.8, 0.8, 0.98) forwards;
    }

    &__slider {
        position: relative;
        width: 100%;
        min-width: $minWidth;
        height: 100vh;
        overflow: hidden;
        opacity: 0;
        
        .title-screen_loaded & {
            will-change: opacity;
            animation: fade-in 1s linear forwards;
        }
    }

    &__slider-wrapper {

    }

    &__slide {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    &__slide-bg {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.3);
        height: 100%;
        transition: transform 0s cubic-bezier(0, 0.71, 0.4, 0.97) 2.1s;
        
        @media (min-aspect-ratio: 16/9) {
            width: 100%;
            height: auto;
        }

        .swiper-slide-active & {
            transform: translate(-50%, -50%);
            transition: transform 4s cubic-bezier(0, 0.71, 0.4, 0.97) 0.25s;
        }
    }

    &__slide-content {
        position: absolute;
        top: 25%;
        left: $containerPadding;
        width: calc(100% - $containerPadding * 2);
        height: 60%;
        perspective: 400px;
        transform-style: preserve-3d;

        @media (min-width: $smallMobile) {
            top: 25%;
            left: $containerPadding;
            width: calc(100% - $containerPadding * 2);
            height: auto;
            padding-bottom: 60%;
        }

        @media (min-width: $mobile) {
            top: 27%;
            left: 10%;
            width: 80%;
            padding-bottom: 40%;
        }

        @media (min-width: 1180px) {
            top: 15%;
            padding-bottom: 37%;
        }
        
        @media (min-width: $tablet) {
            top: auto;
            bottom: 13%;
            left: 10%;
            width: 80%;
            padding-bottom: 37%;
        }
    }

    &__slide-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        padding-bottom: 60%;
        backdrop-filter: brightness(85%) blur(3px);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        z-index: 1;
        opacity: 0;
        transform: rotate3d(-1, 1, 0, -20deg) translate3d(10%, -10%, 170px);
        will-change: transform, opacity;
        transition: transform 0s ease 0s, opacity 0s ease 0s;

        @media (min-width: $smallMobile) {
            top: -5%;
            left: 48%;
            right: auto;
            width: 50%;
            padding-bottom: 50%;
        }

        @media (min-width: $mobile) {
            top: -5%;
            left: 55%;
            width: 40%;
            padding-bottom: 40%;
            transform: rotate3d(-1, 1, 0, -20deg) translate3d(20%, -20%, 220px);
        }

        @media (min-width: $tablet) {
            top: 5%;
            left: 55%;
            width: 33%;
            padding-bottom: 33%;
        }

        .swiper-slide-active & {
            transform: none;
            opacity: 1;
            transition: transform 2s ease 0.3s, opacity 2s ease 0.3s;
        }
    }

    &__slide-photo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
    }

    &__slide-header {
        position: absolute;
        top: 40vw;
        left: 0;
        max-width: 80%;
        padding: 5vw;
        line-height: 1.5;
        font-size: 5vw;
        font-weight: 600;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),
                     -2px 2px 5px rgba(0, 0, 0, 0.1), 
                     2px -2px 5px rgba(0, 0, 0, 0.1), 
                     -2px -2px 5px rgba(0, 0, 0, 0.1);
        color: $thirdColor;
        backdrop-filter: brightness(70%) blur(1px);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: rotate3d(-1, 0, 1, -20deg) translate3d(-10%, 10%, 150px);
        will-change: transform, opacity;
        transition: transform 0s ease, opacity 0s ease;

        @media (min-width: $smallMobile) {
            top: auto;
            bottom: -10%;
            left: 10%;
            max-width: 70%;
            padding: 3vw;
            font-size: 3.5vw;
        }

        @media (min-width: $mobile) {
            top: 60%;
            bottom: auto;
            left: 5%;
            max-width: 70%;
            padding: 2vw;
            font-size: 2.5vw;
            transform: rotate3d(-1, 0, 1, -45deg) translate3d(-20%, 10%, 200px);
        }

        @media (min-width: $tablet) {
            top: 65%;
            left: 10%;
            max-width: 70%;
            padding: 1.5vw;
            font-size: 2vw;
        }

        .swiper-slide-active & {
            transform: none;
            opacity: 1;
            transition: transform 2s ease, opacity 2s ease;
        }
    }

    &__slide-ahau {
        display: block;
        width: 28vw;
        height: 7vw;
        margin-bottom: 5vw;
        fill: $primaryColor;

        @media (min-width: $mobile) {
            width: 14vw;
            height: 3.5vw;
            margin-bottom: 2vw;
        }

        @media (min-width: $tablet) {
            width: 12vw;
            height: 3vw;
            margin-bottom: 1.5vw;
        }
    }

    &__slider-pagination {
        position: absolute;
        left: 0;
        bottom: 5%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("gap", 15px, 30px, $minWidth, $mobile);
        width: 100%;
        z-index: 5;

        @media (min-width: $mobile) {
            gap: 25px;
        }

        .swiper-pagination-bullet {
            display: block;
            @include adaptiveValue("width", 15px, 25px, $minWidth, $mobile);
            @include adaptiveValue("height", 15px, 25px, $minWidth, $mobile);
            border-radius: 50%;
            background-color: $primaryColor;
            opacity: 0.5;
            cursor: pointer;
            transition: opacity 0.3s ease;
            -webkit-tap-highlight-color: transparent;

            @media (min-width: $mobile) {
                width: 15px;
                height: 15px;
            }

            @media (any-hover: hover) {
                &:hover {
                    opacity: 1;
                }
            }

            &:active {
                opacity: 1;
            }


        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
    }

    @keyframes clip-animation {
        from {
            clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        }
        to {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}
