.title-screen {
    width: 100%;
    min-height: 100%;
    
    &_loaded {
    }

    &__slider {
        position: relative;
        width: 100%;
        min-width: $minWidth;
        height: 100vh;
        overflow: hidden;
    }

    &__slider-wrapper {

    }

    &__slide {
        position: relative;
    }

    &__slider-pagination {
        position: absolute;
        left: 0;
        bottom: 5%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("gap", 15px, 30px, $minWidth, $mobile);
        width: 100%;
        z-index: 5;

        @media (min-width: $mobile) {
            gap: 25px;
        }

        .swiper-pagination-bullet {
            display: block;
            @include adaptiveValue("width", 20px, 40px, $minWidth, $mobile);
            @include adaptiveValue("height", 20px, 40px, $minWidth, $mobile);
            fill: transparent;
            cursor: pointer;
            transition: fill 0.3s ease;
            -webkit-tap-highlight-color: transparent;

            @media (min-width: $mobile) {
                width: 30px;
                height: 30px;
            }

            @media (any-hover: hover) {
                &:hover:not(.swiper-pagination-bullet-active) {
                    fill: $primaryColor;
                    fill-opacity: 0.5;
                }
            }
        }

        .swiper-pagination-bullet-active {
            fill: $primaryColor;
        }
    }

    &__hexagon-bullet {
        display: block;
        width: 100%;
        height: 100%;
        stroke: $primaryColor;
        stroke-width: 2;
    }
}

.title-screen-slide {
    display: flex;
    align-items: flex-end;
    height: 100%;

    &__content {
        display: flex;
        flex-flow: column-reverse nowrap;
        height: 100%;
        z-index: 10;

        @media (min-width: $mobile) {
            flex-flow: row nowrap;
            align-items: stretch;
            gap: 5%;
            height: auto;
            margin-bottom: calc(7vh - 0.04 * (100vw - $tablet));
        }

        @media (min-width: $tablet) {
            margin-bottom: 7vh;
        }
    }

    &__text {
        position: relative;
        flex: 1 1 auto;
        width: 100vw;
        transform: translateX(-1 * $containerPadding);
        background-color: $fourthColor;

        @media (min-width: $mobile) {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 2vh;
            width: auto;
            transform: none;
            padding-bottom: 7%;
            background-color: transparent;
        }
    }

    &__title {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        @include adaptiveValue("font-size", 20px, 26px, $minWidth, $smallMobile);
        font-weight: 400;
        color: $secondaryColor;

        .title-screen-slide_number_third & {
            right: $containerPadding;
            left: auto;
            transform: none; 
            text-align: right;   
        } 

        @media (min-width: $smallMobile) {
            top: 15%;
            width: 80%;
            @include adaptiveValue("font-size", 24px, 26px, $smallMobile, $mobile);

            .title-screen-slide_number_third & {
                left: auto;
                width: 80%;
            }
        }

        @media (min-width: $mobile) {
            position: static;
            transform: translateX(-10%);
            width: auto;
            text-align: left;
            @include adaptiveValue("font-size", 28px, 44px, $mobile, $tablet);
            opacity: 0;
            transition: transform 0s ease 1s, opacity 0s ease 1s;
            
            .title-screen-slide_number_second &,
            .title-screen-slide_number_third & {
                transform: translateX(-10%);
                text-align: left;
                color: $fourthColor;
                text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
            }

            .swiper-slide-active & {
                transform: none;
                opacity: 1;
                transition: transform 0.7s ease 0.3s, opacity 0.7s ease 0.3s;
            }
        }
    }

    &__button {
        display: none;

        @media (min-width: $mobile) {
            display: inline-flex;
            @include adaptiveValue("height", 60px, 80px, $mobile, $tablet);
            margin-left: 8%;
            @include adaptiveValue("padding-left", 50px, 60px, $mobile, $tablet);
            @include adaptiveValue("padding-right", 50px, 60px, $mobile, $tablet);
            transform: translateX(-20%);
            opacity: 0;
            transition: transform 0s ease 1s, opacity 0s ease 1s;

            .swiper-slide-active & {
                transform: none;
                opacity: 1;
                transition: transform 0.7s ease 0.6s, opacity 0.8s ease 0.6s;
            }
        }
    }

    &__button-text {

        @media (min-width: $mobile) {
            @include adaptiveValue("font-size", 20px, 32px, $mobile, $tablet);
        }
    }

    &__image {
        flex: 0 0 calc(60vh + 60px);
        
        @media (min-width: $mobile) {
            position: relative;
            flex: 0 0 auto;
        }
    }

    &__hexagon-big {
        display: none;
        aspect-ratio: 0.89;
        height: 600px;
        
        @media (min-width: $mobile) {
            @include adaptiveValue("height", 360px, 600px, $mobile, $tablet);
            transform: scale(0, 0);
            opacity: 0;
            transition: transform 0s ease 1s, opacity 0s ease 1s;

            .swiper-slide-active & {
                transform: none;
                opacity: 1;
                transition: transform 0.7s ease 1.1s, opacity 0.7s ease 1.1s;
            }
        }
        
        .title-screen-slide_number_first & {
            fill: $secondaryColor;

            @media (min-width: $mobile) {
                display: block;
            }
        }

        .title-screen-slide_number_second &,
        .title-screen-slide_number_third & {
            fill: $fourthColor;

            @media (min-width: $mobile) {
                display: block;
            }
        }
    }

    &__seat {
        display: block;
        position: absolute;

        .title-screen-slide_number_first & {
            display: none;
        }

        .title-screen-slide_number_second & {
            top: 45%;
            left: 30%;
            transform: translateY(-50%);
            width: 90%;
        }

        .title-screen-slide_number_third & {
            top: 55%;
            left: -20%;
            transform: translateY(-50%);
            width: 80%;
        }

        @media (min-width: $smallMobile) {

            .title-screen-slide_number_second & {
                top: 50%;
                left: 30%;
                transform: translateY(-60%);
                width: 90%;
            }

            .title-screen-slide_number_third & {
                top: 50%;
                left: -25%;
                transform: translateY(-30%);
                width: 80%;
            }
        }

        @media (min-width: $mobile) {
            opacity: 0;
            transition: opacity 0s ease 1s;

            .swiper-slide-active & {
                opacity: 1;
                transition: opacity 0.5s ease 1.6s;
            }
            
            .title-screen-slide_number_first & {
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-46%, -50%);
                width: 140%;
            }

            .title-screen-slide_number_second & {
                top: 50%;
                left: 50%;
                transform: translate(-54%, -55%);
                width: 200%;
            }

            .title-screen-slide_number_third & {
                top: 50%;
                left: 50%;
                transform: translate(-47%, -56%);
                width: 150%;
            }
        }
    }

    &__hexagon-1 {
        display: none;
        
        @media (min-width: $mobile) {
            display: block;
            position: absolute;
            top: 15%;
            left: 0%;
            width: 35%;
            transform: scale(0, 0);
            opacity: 0;
            transition: transform 0s ease 1s, opacity 0s ease 1s;

            .swiper-slide-active & {
                transform: none;
                opacity: 1;
                transition: transform 0.3s ease 1.8s, opacity 0.3s ease 1.8s;
            }
        }
    }

    &__hexagon-2 {
        display: none;
        
        @media (min-width: $mobile) {
            display: block;
            position: absolute;
            top: 63%;
            left: -22%;
            width: 23%;
            transform: scale(0, 0);
            opacity: 0;
            transition: transform 0s ease 1s, opacity 0s ease 1s;

            .swiper-slide-active & {
                transform: none;
                opacity: 1;
                transition: transform 0.3s ease 2.1s, opacity 0.3s ease 2.1s;
            }
        }
    }

    &__hexagon-3 {
        display: none;
        
        @media (min-width: $mobile) {
            display: block;
            position: absolute;
            top: 61%;
            left: 77%;
            width: 20%;
            transform: scale(0, 0);
            opacity: 0;
            transition: transform 0s ease 1s, opacity 0s ease 1s;

            .swiper-slide-active & {
                transform: none;
                opacity: 1;
                transition: transform 0.3s ease 2.3s, opacity 0.3s ease 2.3s;
            }
        }
    }

    &__bg {
        display: none;

        @media (min-width: $mobile) {
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 100%;
            height: auto;
        }

        @media (min-width: $mobile) and (max-aspect-ratio: 16/9) {
            top: 0;
            right: 50%;
            transform: translateX(50%);
            width: auto;
            height: 100%;

            .title-screen-slide_number_third & {
                right: 0;
                transform: translateX(0%);
            }
        }
    }

    &__bg-mobile {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;

        @media (min-width: $mobile) {
            display: none;
        }

        .title-screen-slide_number_first & {
            left: 50%;
            transform: translate(-50%);
            width: auto;
            max-width: 100%;
            max-height: 60vh;
        }
    }
}

