<header class="header">
    <div class="header__wrapper lock-padding">
        <div class="header__container container">
            <div class="header__body">
                <div class="header__burger burger">
                    <span class="burger__stripe"></span>
                    <span class="burger__stripe"></span>
                    <span class="burger__stripe"></span>
                </div>
                <a href="index.html" class="header__logo">
                    <img src="/img/logo/logo-header.svg" alt="логотип" class="header__logo-icon">
                </a>
                <div class="header__menu menu">
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a data-goto=".about" href="#!" class="menu__link">
                                    @@if (lang == 'tr'){Hakkımızda}
                                    @@if (lang == 'en'){About}
                                    @@if (lang == 'ru'){О нас}
                                </a>
                            </li>
                            <li class="menu__item">
                                <a data-goto=".products" href="#!" class="menu__link">
                                    @@if (lang == 'tr'){Katalog}
                                    @@if (lang == 'en'){Models}
                                    @@if (lang == 'ru'){Каталог}
                                </a>
                            </li>
                            <li class="menu__item">
                                <a data-goto=".health" href="#!" class="menu__link">
                                    @@if (lang == 'tr'){Omurga Sağlığı}
                                    @@if (lang == 'en'){Spine health}
                                    @@if (lang == 'ru'){Здоровье позвоночника}
                                </a>
                            </li>
                            <li class="menu__item">
                                <a data-goto=".production" href="#!" class="menu__link">
                                    @@if (lang == 'tr'){Üretim}
                                    @@if (lang == 'en'){Production}
                                    @@if (lang == 'ru'){Производство}
                                </a>
                            </li>
                            <li class="menu__item">
                                <a data-goto=".contact" href="#!" class="menu__link">
                                    @@if (lang == 'tr'){İletişim}
                                    @@if (lang == 'en'){Contact}
                                    @@if (lang == 'ru'){Контакты}
                                </a>
                            </li>
                        </ul>
                        <a href="tel:+902126134142" class="menu__phone">
                            <svg class="menu__phone-icon">
                                <use xlink:href="/img/icon_sprite/sprite.svg#phone"></use>
                            </svg>
                            <div class="menu__phone-number">+90 212 613 41 42</div>
                        </a>
                        <div class="menu__lang">
                            @@if (lang == 'tr'){
                                <a href="#!" class="menu__lang-link menu__lang-link_active">
                                    <img src="/img/languages/tr.svg" alt="tr" class="menu__lang-icon">
                                    <span class="menu__lang-text">TR</span>
                                </a>
                                <a href="/en/index.html" class="menu__lang-link">
                                    <img src="/img/languages/en.svg" alt="en" class="menu__lang-icon">
                                    <span class="menu__lang-text">EN</span>
                                </a>
                                <a href="/ru/index.html" class="menu__lang-link">
                                    <img src="/img/languages/ru.svg" alt="ru" class="menu__lang-icon">
                                    <span class="menu__lang-text">RU</span>
                                </a>
                            }
                            @@if (lang == 'en'){
                                <a href="#!" class="menu__lang-link menu__lang-link_active">
                                    <img src="/img/languages/en.svg" alt="en" class="menu__lang-icon">
                                    <span class="menu__lang-text">EN</span>
                                </a>
                                <a href="/index.html" class="menu__lang-link">
                                    <img src="/img/languages/tr.svg" alt="tr" class="menu__lang-icon">
                                    <span class="menu__lang-text">TR</span>
                                </a>
                                <a href="/ru/index.html" class="menu__lang-link">
                                    <img src="/img/languages/ru.svg" alt="ru" class="menu__lang-icon">
                                    <span class="menu__lang-text">RU</span>
                                </a>
                            }
                            @@if (lang == 'ru'){
                                <a href="#!" class="menu__lang-link menu__lang-link_active">
                                    <img src="/img/languages/ru.svg" alt="ru" class="menu__lang-icon">
                                    <span class="menu__lang-text">RU</span>
                                </a>
                                <a href="/index.html" class="menu__lang-link">
                                    <img src="/img/languages/tr.svg" alt="tr" class="menu__lang-icon">
                                    <span class="menu__lang-text">TR</span>
                                </a>
                                <a href="/en/index.html" class="menu__lang-link">
                                    <img src="/img/languages/en.svg" alt="en" class="menu__lang-icon">
                                    <span class="menu__lang-text">EN</span>
                                </a>
                            }
                        </div>
                    </nav>
                </div>
                <a href="tel:+902126134142" class="header__phone">
                    <svg class="header__phone-icon">
                        <use xlink:href="/img/icon_sprite/sprite.svg#phone"></use>
                    </svg>
                    <div class="header__phone-number">+90 212 613 41 42</div>
                </a>
                <div class="header__lang lang spoiler-block">
                    @@if (lang == 'tr'){
                        <img src="/img/languages/tr.svg" alt="tr" class="lang__icon">
                        <div class="lang__arrow"></div>
                        <div class="lang__menu-wrapper spoiler">
                            <div class="lang__menu">
                                <a href="/en/index.html" class="lang__menu-link">
                                    <img src="/img/languages/en.svg" alt="en" class="lang__icon">
                                    <span class="lang__menu-text">EN</span>
                                </a>
                                <a href="/ru/index.html" class="lang__menu-link">
                                    <img src="/img/languages/ru.svg" alt="ru" class="lang__icon">
                                    <span class="lang__menu-text">RU</span>
                                </a>
                            </div>
                        </div>
                    }
                    @@if (lang == 'en'){
                        <img src="/img/languages/en.svg" alt="en" class="lang__icon">
                        <div class="lang__arrow"></div>
                        <div class="lang__menu-wrapper spoiler">
                            <div class="lang__menu">
                                <a href="/index.html" class="lang__menu-link">
                                    <img src="/img/languages/tr.svg" alt="tr" class="lang__icon">
                                    <span class="lang__menu-text">TR</span>
                                </a>
                                <a href="/ru/index.html" class="lang__menu-link">
                                    <img src="/img/languages/ru.svg" alt="ru" class="lang__icon">
                                    <span class="lang__menu-text">RU</span>
                                </a>
                            </div>
                        </div>
                    }
                    @@if (lang == 'ru'){
                        <img src="/img/languages/ru.svg" alt="ru" class="lang__icon">
                        <div class="lang__arrow"></div>
                        <div class="lang__menu-wrapper spoiler">
                            <div class="lang__menu">
                                <a href="/index.html" class="lang__menu-link">
                                    <img src="/img/languages/tr.svg" alt="tr" class="lang__icon">
                                    <span class="lang__menu-text">TR</span>
                                </a>
                                <a href="/en/index.html" class="lang__menu-link">
                                    <img src="/img/languages/en.svg" alt="en" class="lang__icon">
                                    <span class="lang__menu-text">EN</span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</header>