<div data-popup-name="order" class="order-popup popup">
    <div class="order-popup__wrapper popup__wrapper">
        <div class="order-popup__content popup__content">
            <div class="order-popup__close popup__close">
                <span class="popup__close-stripe"></span>
                <span class="popup__close-stripe"></span>
            </div>
            <h3 class="order-popup__header">
                @@if (context.lang == 'tr'){Sipariş vermek}
                @@if (context.lang == 'en'){Order placing}
                @@if (context.lang == 'ru'){Оформление заказа}
            </h3>
            <div class="order-popup__model">
                <span class="order-popup__model-title">
                    @@if (context.lang == 'tr'){Model:}
                    @@if (context.lang == 'en'){Model:}
                    @@if (context.lang == 'ru'){Модель:}
                </span>
                <span data-model="as250white" 
                      class="order-popup__model-value catalog-tab-content catalog-tab-content_active">
                    AS-250 white
                </span>
                <span data-model="as250black" 
                      class="order-popup__model-value catalog-tab-content">
                    AS-250 black
                </span>
                <span data-model="as330white" 
                      class="order-popup__model-value catalog-tab-content">
                    AS-330 white
                </span>
                <span data-model="as330black" 
                      class="order-popup__model-value catalog-tab-content">
                    AS-330 black
                </span>
                <span data-model="as425white" 
                      class="order-popup__model-value catalog-tab-content">
                    AS-425 white
                </span>
                <span data-model="as425black" 
                      class="order-popup__model-value catalog-tab-content">
                    AS-425 black
                </span>
            </div>
            <div class="order-popup__text">
                @@if (context.lang == 'tr'){Yöneticimizin sizinle iletişim kurabilmesi için iletişim bilgilerinizi girin}
                @@if (context.lang == 'en'){Enter your contact details so that our manager could contact you}
                @@if (context.lang == 'ru'){Оставьте ваши контактные данные и&nbsp;наш менеджер свяжется с&nbsp;вами}
            </div>
            <form class="order-popup__form form">
                <input type="text" 
                       class="order-popup__input order-popup__input_hidden form__model" 
                       name="model"
                       value="as250white">
                <input type="text" 
                       class="order-popup__input form__name" 
                       name="name" 
                       @@if (context.lang == 'tr'){placeholder="Adınız*"}
                       @@if (context.lang == 'en'){placeholder="Name*"}
                       @@if (context.lang == 'ru'){placeholder="Имя*"}
                       maxlength="100"
                       autocomplete="off"
                       required>
                <input type="text" 
                       class="order-popup__input form__phone" 
                       name="phone" 
                       @@if (context.lang == 'tr'){placeholder="Telefon"}
                       @@if (context.lang == 'en'){placeholder="Phone"}
                       @@if (context.lang == 'ru'){placeholder="Телефон"}
                       maxlength="50"
                       autocomplete="off">
                <input type="text" 
                       class="order-popup__input form__email" 
                       name="email" 
                       @@if (context.lang == 'tr'){placeholder="E-posta*"}
                       @@if (context.lang == 'en'){placeholder="E-mail*"}
                       @@if (context.lang == 'ru'){placeholder="E-mail*"}
                       maxlength="100"
                       autocomplete="off"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,8})+$"
                       required>
                <label class="order-popup__agreement">
                    <input type="checkbox" 
                           class="order-popup__agreement-input form__agreement"
                           name="agreement"
                           checked 
                           required> 
                    <div class="order-popup__agreement-checkbox"></div>
                    <span>
                        @@if (context.lang == 'tr'){Kişisel verilerimin işlenmesini kabul ediyorum}
                        @@if (context.lang == 'en'){I agree to the processing of my personal&nbsp;data}
                        @@if (context.lang == 'ru'){Я даю своё согласие на&nbsp;обработку персональных данных}
                    </span>
                </label>
                <button type="submit"
                        class="order-popup__button button form__submit">
                        <div class="order-popup__button-text button__text">
                            @@if (context.lang == 'tr'){Gönder}
                            @@if (context.lang == 'en'){Send}
                            @@if (context.lang == 'ru'){Отправить}
                        </div>
                </button>
                <div class="order-popup__sending-screen form__sending-screen"></div>
            </form>
        </div>
    </div>
</div>

<div data-popup-name="contact" class="contact-popup popup">
    <div class="contact-popup__wrapper popup__wrapper">
        <div class="contact-popup__content popup__content">
            <div class="contact-popup__close popup__close">
                <span class="popup__close-stripe"></span>
                <span class="popup__close-stripe"></span>
            </div>
            <form class="contact-popup__form form">
                <input type="text" 
                       class="contact-popup__input contact-popup__input_type_name form__name" 
                       name="name" 
                       @@if (context.lang == 'tr'){placeholder="Adınız*"}
                       @@if (context.lang == 'en'){placeholder="Name*"}
                       @@if (context.lang == 'ru'){placeholder="Имя*"}
                       maxlength="100"
                       autocomplete="off"
                       required>
                <input type="text" 
                       class="contact-popup__input contact-popup__input_type_phone form__phone" 
                       name="phone" 
                       @@if (context.lang == 'tr'){placeholder="Telefon"}
                       @@if (context.lang == 'en'){placeholder="Phone"}
                       @@if (context.lang == 'ru'){placeholder="Телефон"}
                       maxlength="50"
                       autocomplete="off">
                <input type="text" 
                       class="contact-popup__input contact-popup__input_type_email form__email" 
                       name="email" 
                       @@if (context.lang == 'tr'){placeholder="E-posta*"}
                       @@if (context.lang == 'en'){placeholder="E-mail*"}
                       @@if (context.lang == 'ru'){placeholder="E-mail*"}
                       maxlength="100"
                       autocomplete="off"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,8})+$"
                       required>
                <input type="text" 
                       class="contact-popup__input contact-popup__input_type_subject form__subject" 
                       name="subject" 
                       @@if (context.lang == 'tr'){placeholder="Konu"}
                       @@if (context.lang == 'en'){placeholder="Subject"}
                       @@if (context.lang == 'ru'){placeholder="Тема"}
                       maxlength="100"
                       autocomplete="off">
                <textarea type="text" 
                          class="contact-popup__input contact-popup__input_type_message form__message" 
                          name="message"
                          @@if (context.lang == 'tr'){placeholder="Mesajınız*"}
                          @@if (context.lang == 'en'){placeholder="Your message*"}
                          @@if (context.lang == 'ru'){placeholder="Ваше сообщение*"}
                          maxlength="2000"
                          autocomplete="off"
                          required></textarea>
                <label class="contact-popup__agreement">
                    <input type="checkbox" 
                           class="contact-popup__agreement-input form__agreement"
                           name="agreement"
                           checked 
                           required> 
                    <div class="contact-popup__agreement-checkbox">
                        <svg class="contact-popup__agreement-hexagon">
                            <use xlink:href="/img/icon_sprite/sprite.svg#hexagon-small"></use>
                        </svg>
                    </div>
                    <span>
                        @@if (context.lang == 'tr'){Kişisel verilerimin işlenmesini kabul ediyorum}
                        @@if (context.lang == 'en'){I agree to the processing of my personal&nbsp;data}
                        @@if (context.lang == 'ru'){Я даю своё согласие на&nbsp;обработку персональных данных}
                    </span>
                </label>
                <button type="submit"
                        class="contact-popup__button button form__submit">
                        <div class="contact-popup__button-text button__text">
                            @@if (context.lang == 'tr'){Gönder}
                            @@if (context.lang == 'en'){Send}
                            @@if (context.lang == 'ru'){Отправить}
                        </div>
                </button>
                <div class="contact-popup__sending-screen form__sending-screen"></div>
            </form>
        </div>
    </div>
</div>

<div data-popup-name="checkout" class="checkout-popup popup">
    <div class="checkout-popup__wrapper popup__wrapper">
        <div class="checkout-popup__content popup__content">
            <div class="checkout-popup__close popup__close">
                <span class="popup__close-stripe"></span>
                <span class="popup__close-stripe"></span>
            </div>
            <h3 class="checkout-popup__header">
                @@if (context.lang == 'tr'){Siparişiniz kabul edildi!}
                @@if (context.lang == 'en'){Your order has&nbsp;been accepted!}
                @@if (context.lang == 'ru'){Заказ оформлен!}
            </h3>
            <div class="checkout-popup__text">  
                @@if (context.lang == 'tr'){Yöneticimiz kısa süre içinde sizinle irtibata geçecektir.}
                @@if (context.lang == 'en'){Our manager will contact you shortly.}
                @@if (context.lang == 'ru'){В&nbsp;ближайшее время с&nbsp;вами свяжется наш менеджер.}
            </div>
        </div>
    </div>
</div>

<div data-popup-name="message" class="message-popup popup">
    <div class="message-popup__wrapper popup__wrapper">
        <div class="message-popup__content popup__content">
            <div class="order-popup__close popup__close">
                <span class="popup__close-stripe"></span>
                <span class="popup__close-stripe"></span>
            </div>
            <h3 class="message-popup__header">
                @@if (context.lang == 'tr'){Mesajınız gönderildi!}
                @@if (context.lang == 'en'){Your message has&nbsp;been sent!}
                @@if (context.lang == 'ru'){Сообщение отправлено!}
            </h3>
            <div class="message-popup__text">               
                @@if (context.lang == 'tr'){Yöneticimiz kısa süre içinde sizinle irtibata geçecektir.}
                @@if (context.lang == 'en'){Our manager will contact you shortly.}
                @@if (context.lang == 'ru'){В&nbsp;ближайшее время с&nbsp;вами свяжется наш менеджер.}
            </div>
        </div>
    </div>
</div>

<div data-popup-name="fail" class="fail-popup popup">
    <div class="fail-popup__wrapper popup__wrapper">
        <div class="fail-popup__content popup__content">
            <div class="order-popup__close popup__close">
                <span class="popup__close-stripe"></span>
                <span class="popup__close-stripe"></span>
            </div>
            <h3 class="fail-popup__header">
                @@if (context.lang == 'tr'){Sunucuya bağlanırken hata oluştu}
                @@if (context.lang == 'en'){Failed to connect to the server}
                @@if (context.lang == 'ru'){Не&nbsp;удалось отправить данные на&nbsp;сервер}
            </h3>
            <div class="fail-popup__text">  
                @@if (context.lang == 'tr'){Daha sonra tekrar deneyin.}
                @@if (context.lang == 'en'){Try again later.}
                @@if (context.lang == 'ru'){Попробуйте повторить отправку&nbsp;позже.}             
            </div>
        </div>
    </div>
</div>
