<section class="main__models models">
    <div class="models__container container">
        <h2 class="models__title title">
            @@if (context.lang == 'tr'){
                Katalog 
            }
            @@if (context.lang == 'en'){
                Models
            }
            @@if (context.lang == 'ru'){
                Каталог
            }
        </h2>
        <div class="models__content">
            <div class="models__galleries">
                <div data-model="as250white" 
                     class="models__gallery slider-gallery catalog-tab-content catalog-tab-content_active">
                    <div class="slider-gallery__thumbs">
                        <div class="slider-gallery__thumbs-slider thumbs-slider">
                            <div class="thumbs-slider__wrapper swiper-wrapper">
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-250-white/250-white-1.webp" loading="lazy" alt="preview-1" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-250-white/250-white-2.webp" loading="lazy" alt="preview-2" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-250-white/250-white-3.webp" loading="lazy" alt="preview-3" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-250-white/250-white-4.webp" loading="lazy" alt="preview-4" class="thumbs-slider__photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-gallery__main-part">
                        <div class="slider-gallery__main-slider main-slider">
                            <div class="main-slider__wrapper swiper-wrapper">
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-250-white/250-white-1.webp" loading="lazy" alt="AS-250 photo-1" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-250-white/250-white-2.webp" loading="lazy" alt="AS-250 photo-2" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-250-white/250-white-3.webp" loading="lazy" alt="AS-250 photo-3" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-250-white/250-white-4.webp" loading="lazy" alt="AS-250 photo-4" class="main-slider__photo">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="main-slider__prev-button slider-nav-button">
                                <svg class="main-slider__prev-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <button type="button" class="main-slider__next-button slider-nav-button slider-nav-button_next">
                                <svg class="main-slider__next-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div data-model="as330white" 
                     class="models__gallery slider-gallery catalog-tab-content">
                    <div class="slider-gallery__thumbs">
                        <div class="slider-gallery__thumbs-slider thumbs-slider">
                            <div class="thumbs-slider__wrapper swiper-wrapper">
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-330-white/330-white-1.webp" loading="lazy" alt="preview-1" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-330-white/330-white-2.webp" loading="lazy" alt="preview-2" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-330-white/330-white-3.webp" loading="lazy" alt="preview-3" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-330-white/330-white-4.webp" loading="lazy" alt="preview-4" class="thumbs-slider__photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-gallery__main-part">
                        <div class="slider-gallery__main-slider main-slider">
                            <div class="main-slider__wrapper swiper-wrapper">
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-330-white/330-white-1.webp" loading="lazy" alt="AS-330 photo-1" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-330-white/330-white-2.webp" loading="lazy" alt="AS-330 photo-2" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-330-white/330-white-3.webp" loading="lazy" alt="AS-330 photo-3" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-330-white/330-white-4.webp" loading="lazy" alt="AS-330 photo-4" class="main-slider__photo">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="main-slider__prev-button slider-nav-button">
                                <svg class="main-slider__prev-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <button type="button" class="main-slider__next-button slider-nav-button slider-nav-button_next">
                                <svg class="main-slider__next-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div data-model="as425white" 
                     class="models__gallery slider-gallery catalog-tab-content">
                    <div class="slider-gallery__thumbs">
                        <div class="slider-gallery__thumbs-slider thumbs-slider">
                            <div class="thumbs-slider__wrapper swiper-wrapper">
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-425-white/425-white-1.webp" loading="lazy" alt="preview-1" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-425-white/425-white-2.webp" loading="lazy" alt="preview-2" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-425-white/425-white-3.webp" loading="lazy" alt="preview-3" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-425-white/425-white-4.webp" loading="lazy" alt="preview-4" class="thumbs-slider__photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-gallery__main-part">
                        <div class="slider-gallery__main-slider main-slider">
                            <div class="main-slider__wrapper swiper-wrapper">
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-425-white/425-white-1.webp" loading="lazy" alt="AS-425 photo-1" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-425-white/425-white-2.webp" loading="lazy" alt="AS-425 photo-2" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-425-white/425-white-3.webp" loading="lazy" alt="AS-425 photo-3" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-425-white/425-white-4.webp" loading="lazy" alt="AS-425 photo-4" class="main-slider__photo">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="main-slider__prev-button slider-nav-button">
                                <svg class="main-slider__prev-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <button type="button" class="main-slider__next-button slider-nav-button slider-nav-button_next">
                                <svg class="main-slider__next-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div data-model="as250black" 
                     class="models__gallery slider-gallery catalog-tab-content">
                    <div class="slider-gallery__thumbs">
                        <div class="slider-gallery__thumbs-slider thumbs-slider">
                            <div class="thumbs-slider__wrapper swiper-wrapper">
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-250-black/250-black-1.webp" loading="lazy" alt="preview-1" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-250-black/250-black-2.webp" loading="lazy" alt="preview-2" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-250-black/250-black-3.webp" loading="lazy" alt="preview-3" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-250-black/250-black-4.webp" loading="lazy" alt="preview-4" class="thumbs-slider__photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-gallery__main-part">
                        <div class="slider-gallery__main-slider main-slider">
                            <div class="main-slider__wrapper swiper-wrapper">
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-250-black/250-black-1.webp" loading="lazy" alt="AS-250 photo-1" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-250-black/250-black-2.webp" loading="lazy" alt="AS-250 photo-2" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-250-black/250-black-3.webp" loading="lazy" alt="AS-250 photo-3" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-250-black/250-black-4.webp" loading="lazy" alt="AS-250 photo-4" class="main-slider__photo">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="main-slider__prev-button slider-nav-button">
                                <svg class="main-slider__prev-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <button type="button" class="main-slider__next-button slider-nav-button slider-nav-button_next">
                                <svg class="main-slider__next-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div data-model="as330black" 
                     class="models__gallery slider-gallery catalog-tab-content">
                    <div class="slider-gallery__thumbs">
                        <div class="slider-gallery__thumbs-slider thumbs-slider">
                            <div class="thumbs-slider__wrapper swiper-wrapper">
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-330-black/330-black-1.webp" loading="lazy" alt="preview-1" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-330-black/330-black-2.webp" loading="lazy" alt="preview-2" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-330-black/330-black-3.webp" loading="lazy" alt="preview-3" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-330-black/330-black-4.webp" loading="lazy" alt="preview-4" class="thumbs-slider__photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-gallery__main-part">
                        <div class="slider-gallery__main-slider main-slider">
                            <div class="main-slider__wrapper swiper-wrapper">
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-330-black/330-black-1.webp" loading="lazy" alt="AS-330 photo-1" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-330-black/330-black-2.webp" loading="lazy" alt="AS-330 photo-2" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-330-black/330-black-3.webp" loading="lazy" alt="AS-330 photo-3" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-330-black/330-black-4.webp" loading="lazy" alt="AS-330 photo-4" class="main-slider__photo">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="main-slider__prev-button slider-nav-button">
                                <svg class="main-slider__prev-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <button type="button" class="main-slider__next-button slider-nav-button slider-nav-button_next">
                                <svg class="main-slider__next-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div data-model="as425black" 
                     class="models__gallery slider-gallery catalog-tab-content">
                    <div class="slider-gallery__thumbs">
                        <div class="slider-gallery__thumbs-slider thumbs-slider">
                            <div class="thumbs-slider__wrapper swiper-wrapper">
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-425-black/425-black-1.webp" loading="lazy" alt="preview-1" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-425-black/425-black-2.webp" loading="lazy" alt="preview-2" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-425-black/425-black-3.webp" loading="lazy" alt="preview-3" class="thumbs-slider__photo">
                                </div>
                                <div class="thumbs-slider__slide swiper-slide">
                                    <img src="/img/models/as-425-black/425-black-4.webp" loading="lazy" alt="preview-4" class="thumbs-slider__photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-gallery__main-part">
                        <div class="slider-gallery__main-slider main-slider">
                            <div class="main-slider__wrapper swiper-wrapper">
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-425-black/425-black-1.webp" loading="lazy" alt="AS-425 photo-1" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-425-black/425-black-2.webp" loading="lazy" alt="AS-425 photo-2" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-425-black/425-black-3.webp" loading="lazy" alt="AS-425 photo-3" class="main-slider__photo">
                                    </div>
                                </div>
                                <div class="main-slider__slide swiper-slide">
                                    <div class="main-slider__zoom-container swiper-zoom-container">
                                        <img src="/img/models/as-425-black/425-black-4.webp" loading="lazy" alt="AS-425 photo-4" class="main-slider__photo">
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="main-slider__prev-button slider-nav-button">
                                <svg class="main-slider__prev-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                            <button type="button" class="main-slider__next-button slider-nav-button slider-nav-button_next">
                                <svg class="main-slider__next-icon slider-nav-button__icon">
                                    <use xlink:href="/img/icon_sprite/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="models__choice choice"> 
                <div class="choice__parameter-title">
                    @@if (context.lang == 'tr'){Model}
                    @@if (context.lang == 'en'){Model}
                    @@if (context.lang == 'ru'){Модель}
                </div>
                <div class="choice__model-buttons model-buttons">
                    <div data-size="as250" 
                         class="model-buttons__button catalog-tab-button catalog-tab-button_active">
                        <div class="model-buttons__button-text">AS-250</div>
                    </div>
                    <div data-size="as330" 
                         class="model-buttons__button catalog-tab-button">
                        <div class="model-buttons__button-text">AS-330</div>
                    </div>
                    <div data-size="as425"
                         class="model-buttons__button catalog-tab-button">
                        <div class="model-buttons__button-text">AS-425</div>
                    </div>
                </div>
                <div class="choice__parameter-title">
                    @@if (context.lang == 'tr'){Renk}
                    @@if (context.lang == 'en'){Color}
                    @@if (context.lang == 'ru'){Цвет}
                </div>
                <div class="choice__color-buttons color-buttons">
                    <div data-color="white" 
                         class="color-buttons__button 
                                color-buttons__button_color_white 
                                catalog-tab-button 
                                catalog-tab-button_active">
                        <svg class="color-buttons__button-circle">
                            <circle cx="50%" cy="50%" r="45%"/>
                        </svg>
                    </div>
                    <div data-color="black" 
                         class="color-buttons__button 
                                color-buttons__button_color_black 
                                catalog-tab-button">
                        <svg class="color-buttons__button-circle">
                            <circle cx="50%" cy="50%" r="45%"/>
                        </svg>
                    </div>
                </div>
                <div class="choice__characteristic-title">
                    @@if (context.lang == 'tr'){Malzeme}
                    @@if (context.lang == 'en'){Material}
                    @@if (context.lang == 'ru'){Материал}
                </div>
                <div class="choice__characteristic-value">
                    @@if (context.lang == 'tr'){deniz&nbsp;alüminyum}
                    @@if (context.lang == 'en'){marine&nbsp;aluminum}
                    @@if (context.lang == 'ru'){Морской&nbsp;алюминий}
                </div>
                <div class="choice__characteristic-title">
                    @@if (context.lang == 'tr'){Boyutlar}
                    @@if (context.lang == 'en'){Dimensions}
                    @@if (context.lang == 'ru'){Размеры}
                </div>
                <div class="choice__characteristic-value">
                    <span data-model="as250white" 
                          class="choice__characteristic-value-opton catalog-tab-content catalog-tab-content_active">
                        @@if (context.lang == 'tr' || context.lang == 'en'){250&nbsp;x&nbsp;380&nbsp;x&nbsp;230&nbsp;mm}
                        @@if (context.lang == 'ru'){250&nbsp;x&nbsp;380&nbsp;x&nbsp;230&nbsp;мм}
                    </span>
                    <span data-model="as330white" 
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){325&nbsp;x&nbsp;387&nbsp;x&nbsp;230&nbsp;mm}
                        @@if (context.lang == 'ru'){325&nbsp;x&nbsp;387&nbsp;x&nbsp;230&nbsp;мм}
                    </span>
                    <span data-model="as425white" 
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){430&nbsp;x&nbsp;426&nbsp;x&nbsp;230&nbsp;mm}
                        @@if (context.lang == 'ru'){430&nbsp;x&nbsp;426&nbsp;x&nbsp;230&nbsp;мм}
                    </span>
                    <span data-model="as250black" 
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){250&nbsp;x&nbsp;380&nbsp;x&nbsp;230&nbsp;mm}
                        @@if (context.lang == 'ru'){250&nbsp;x&nbsp;380&nbsp;x&nbsp;230&nbsp;мм}
                    </span>
                    <span data-model="as330black" 
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){325&nbsp;x&nbsp;387&nbsp;x&nbsp;230&nbsp;mm}
                        @@if (context.lang == 'ru'){325&nbsp;x&nbsp;387&nbsp;x&nbsp;230&nbsp;мм}
                    </span>
                    <span data-model="as425black" 
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){430&nbsp;x&nbsp;426&nbsp;x&nbsp;230&nbsp;mm}
                        @@if (context.lang == 'ru'){430&nbsp;x&nbsp;426&nbsp;x&nbsp;230&nbsp;мм}
                    </span>
                </div>
                <div class="choice__characteristic-title">
                    @@if (context.lang == 'tr'){Yük&nbsp;kapasitesi}
                    @@if (context.lang == 'en'){Load&nbsp;capacity}
                    @@if (context.lang == 'ru'){Полезная&nbsp;нагрузка}
                </div>
                <div class="choice__characteristic-value">
                    <span data-model="as250white"
                          class="choice__characteristic-value-opton catalog-tab-content catalog-tab-content_active">
                        @@if (context.lang == 'tr' || context.lang == 'en'){50&nbsp;-&nbsp;100&nbsp;kg}
                        @@if (context.lang == 'ru'){50&nbsp;-&nbsp;100&nbsp;кг}
                    </span>
                    <span data-model="as330white"
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){60&nbsp;-&nbsp;130&nbsp;kg}
                        @@if (context.lang == 'ru'){60&nbsp;-&nbsp;130&nbsp;кг}
                    </span>
                    <span data-model="as425white"
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){70&nbsp;-&nbsp;150&nbsp;kg}
                        @@if (context.lang == 'ru'){70&nbsp;-&nbsp;150&nbsp;кг}
                    </span>
                    <span data-model="as250black"
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){50&nbsp;-&nbsp;100&nbsp;kg}
                        @@if (context.lang == 'ru'){50&nbsp;-&nbsp;100&nbsp;кг}
                    </span>
                    <span data-model="as330black"
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){60&nbsp;-&nbsp;130&nbsp;kg}
                        @@if (context.lang == 'ru'){60&nbsp;-&nbsp;130&nbsp;кг}
                    </span>
                    <span data-model="as425black"
                          class="choice__characteristic-value-opton catalog-tab-content">
                        @@if (context.lang == 'tr' || context.lang == 'en'){70&nbsp;-&nbsp;150&nbsp;kg}
                        @@if (context.lang == 'ru'){70&nbsp;-&nbsp;150&nbsp;кг}
                    </span>
                </div>
                <div class="choice__characteristic-title">
                    @@if (context.lang == 'tr'){Çalışma&nbsp;stroku}
                    @@if (context.lang == 'en'){Working&nbsp;stroke}
                    @@if (context.lang == 'ru'){Рабочий&nbsp;ход}
                </div>
                <div class="choice__characteristic-value">
                    <span data-model="as250white"
                          class="choice__characteristic-value-opton catalog-tab-content catalog-tab-content_active">
                          @@if (context.lang == 'tr' || context.lang == 'en'){70&nbsp;mm}
                          @@if (context.lang == 'ru'){70&nbsp;мм}
                    </span>
                    <span data-model="as330white"
                          class="choice__characteristic-value-opton catalog-tab-content">
                          @@if (context.lang == 'tr' || context.lang == 'en'){80&nbsp;mm}
                          @@if (context.lang == 'ru'){80&nbsp;мм}
                    </span>
                    <span data-model="as425white"
                          class="choice__characteristic-value-opton catalog-tab-content">
                          @@if (context.lang == 'tr' || context.lang == 'en'){90&nbsp;mm}
                          @@if (context.lang == 'ru'){90&nbsp;мм}
                    </span>
                    <span data-model="as250black"
                          class="choice__characteristic-value-opton catalog-tab-content">
                          @@if (context.lang == 'tr' || context.lang == 'en'){70&nbsp;mm}
                          @@if (context.lang == 'ru'){70&nbsp;мм}
                    </span>
                    <span data-model="as330black"
                          class="choice__characteristic-value-opton catalog-tab-content">
                          @@if (context.lang == 'tr' || context.lang == 'en'){80&nbsp;mm}
                          @@if (context.lang == 'ru'){80&nbsp;мм}
                    </span>
                    <span data-model="as425black"
                          class="choice__characteristic-value-opton catalog-tab-content">
                          @@if (context.lang == 'tr' || context.lang == 'en'){90&nbsp;mm}
                          @@if (context.lang == 'ru'){90&nbsp;мм}
                    </span>
                </div>
                <div class="choice__details">
                    <a data-goto=".health" href="#!" class="choice__details-link underlined-link">
                        @@if (context.lang == 'tr'){Details...}
                        @@if (context.lang == 'en'){Details...}
                        @@if (context.lang == 'ru'){Подробнее...}
                    </a>
                </div>
                <div class="choice__brochure">
                    <a data-model="as250white" 
                       class="choice__brochure-link underlined-link catalog-tab-content catalog-tab-content_active" 
                       href="/brochures/SUSPENSION_SISTEM_AS-250-WHITE.pdf" 
                       download>
                        <svg class="choice__brochure-icon">
                            <use xlink:href="/img/icon_sprite/sprite.svg#pdf"></use>
                        </svg>
                        @@if (context.lang == 'tr'){Broşür}
                        @@if (context.lang == 'en'){Brochure}
                        @@if (context.lang == 'ru'){Буклет}
                    </a>
                    <a data-model="as250black" 
                       class="choice__brochure-link underlined-link catalog-tab-content" 
                       href="/brochures/SUSPENSION_SISTEM_AS-250-BLACK.pdf" 
                       download>
                        <svg class="choice__brochure-icon">
                            <use xlink:href="/img/icon_sprite/sprite.svg#pdf"></use>
                        </svg>
                        @@if (context.lang == 'tr'){Broşür}
                        @@if (context.lang == 'en'){Brochure}
                        @@if (context.lang == 'ru'){Буклет}
                    </a>
                    <a data-model="as330white" 
                       class="choice__brochure-link underlined-link catalog-tab-content" 
                       href="/brochures/SUSPENSION_SISTEM_AS-330-WHITE.pdf" 
                       download>
                        <svg class="choice__brochure-icon">
                            <use xlink:href="/img/icon_sprite/sprite.svg#pdf"></use>
                        </svg>
                        @@if (context.lang == 'tr'){Broşür}
                        @@if (context.lang == 'en'){Brochure}
                        @@if (context.lang == 'ru'){Буклет}
                    </a>
                    <a data-model="as330black" 
                       class="choice__brochure-link underlined-link catalog-tab-content" 
                       href="/brochures/SUSPENSION_SISTEM_AS-330-BLACK.pdf" 
                       download>
                        <svg class="choice__brochure-icon">
                            <use xlink:href="/img/icon_sprite/sprite.svg#pdf"></use>
                        </svg>
                        @@if (context.lang == 'tr'){Broşür}
                        @@if (context.lang == 'en'){Brochure}
                        @@if (context.lang == 'ru'){Буклет}
                    </a>
                    <a data-model="as425white" 
                       class="choice__brochure-link underlined-link catalog-tab-content" 
                       href="/brochures/SUSPENSION_SISTEM_AS-425-WHITE.pdf" 
                       download>
                        <svg class="choice__brochure-icon">
                            <use xlink:href="/img/icon_sprite/sprite.svg#pdf"></use>
                        </svg>
                        @@if (context.lang == 'tr'){Broşür}
                        @@if (context.lang == 'en'){Brochure}
                        @@if (context.lang == 'ru'){Буклет}
                    </a>
                    <a data-model="as425black" 
                       class="choice__brochure-link underlined-link catalog-tab-content" 
                       href="/brochures/SUSPENSION_SISTEM_AS-425-BLACK.pdf" 
                       download>
                        <svg class="choice__brochure-icon">
                            <use xlink:href="/img/icon_sprite/sprite.svg#pdf"></use>
                        </svg>
                        @@if (context.lang == 'tr'){Broşür}
                        @@if (context.lang == 'en'){Brochure}
                        @@if (context.lang == 'ru'){Буклет}
                    </a>
                </div>
                <div class="choice__price">
                    <span data-model="as250white"
                          class="choice__price-opton catalog-tab-content catalog-tab-content_active">
                        14&nbsp;990&nbsp;TL
                    </span>
                    <span data-model="as250black"
                          class="choice__price-opton catalog-tab-content">
                        14&nbsp;990&nbsp;TL
                    </span>
                    <span data-model="as330white"
                          class="choice__price-opton catalog-tab-content">
                        15&nbsp;990&nbsp;TL
                    </span>
                    <span data-model="as330black"
                          class="choice__price-opton catalog-tab-content">
                        15&nbsp;990&nbsp;TL
                    </span>
                    <span data-model="as425white"
                          class="choice__price-opton catalog-tab-content">
                        17&nbsp;990&nbsp;TL
                    </span>
                    <span data-model="as425black"
                          class="choice__price-opton catalog-tab-content">
                        17&nbsp;990&nbsp;TL
                    </span>
                </div>
                <div data-popup="order"
                     class="choice__order-button button">
                    <div class="choice__order-button-text button__text">
                        @@if (context.lang == 'tr'){Sipariş}
                        @@if (context.lang == 'en'){Order}
                        @@if (context.lang == 'ru'){Заказать}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>