<section class="page__title-screen title-screen">
    <div class="title-screen__slider">
        <div class="title-screen__slider-wrapper swiper-wrapper">
            <div class="title-screen__slide title-screen__first-slide swiper-slide">
                <h1 class="title-screen__first-slide-header">
                    <img src="/img/title-screen/slide-1-logo.svg" alt="AHAU" class="title-screen__first-slide-logo">
                    @@if (lang == 'tr'){
                        Sürat tekneleri ve tekneleri için amortisör üniteleri üreten ilk Türk şirketidir 
                    }
                    @@if (lang == 'en'){
                        Manufacturer of suspension&nbsp;struts for your&nbsp;spine protection
                    }
                    @@if (lang == 'ru'){
                        Производитель амортизационных&nbsp;стоек для&nbsp;безопасности вашего&nbsp;позвоночника
                    }
                </h1>
            </div>
            <div class="title-screen__slide title-screen__second-slide swiper-slide">
               
            </div>
            <div class="title-screen__slide title-screen__third-slide swiper-slide">
                
            </div>
        </div>
        <div class="title-screen__slider-pagination"></div>
    </div>
</section>