<section class="main__title-screen title-screen">
    <div class="title-screen__slider">
        <div class="title-screen__slider-wrapper swiper-wrapper">
            <div class="title-screen__slide 
                        title-screen-slide 
                        title-screen-slide_number_first 
                        swiper-slide">
                <img src="/img/title-screen/slide-1/slide-1-mobile.webp" loading="lazy" alt="slide-1" class="title-screen-slide__bg-mobile">
                <div class="title-screen-slide__content container">
                    <div class="title-screen-slide__text">
                        <h1 class="title-screen-slide__title">
                            @@if (context.lang == 'tr'){
                                Sürat tekneleri ve tekneleri için amortisör üniteleri üreten ilk Türk şirketidir
                            }
                            @@if (context.lang == 'en'){
                                Manufacturer of suspension struts for your spine protection
                            }
                            @@if (context.lang == 'ru'){
                                Производитель амортизационных стоек для&nbsp;безопасности вашего позвоночника
                            }
                        </h1>
                        <div data-popup="contact"
                            class="title-screen-slide__button button">
                            <div class="title-screen-slide__button-text button__text">
                                @@if (context.lang == 'tr'){İletişim}
                                @@if (context.lang == 'en'){Contact}
                                @@if (context.lang == 'ru'){Связаться}
                            </div>
                        </div>
                    </div>
                    <div class="title-screen-slide__image">
                        <svg class="title-screen-slide__hexagon-big">
                            <use xlink:href="/img/icon_sprite/sprite.svg#hexagon-big"></use>
                        </svg>
                        <img src="/img/title-screen/slide-1/hexagon-1.svg" loading="lazy" alt="hexagon" class="title-screen-slide__hexagon-1">
                        <img src="/img/title-screen/slide-1/hexagon-2.svg" loading="lazy" alt="hexagon" class="title-screen-slide__hexagon-2">
                        <img src="/img/title-screen/slide-1/hexagon-3.svg" loading="lazy" alt="hexagon" class="title-screen-slide__hexagon-3">
                        <img src="/img/title-screen/slide-1/seat-1.webp" loading="lazy" alt="seat-1" class="title-screen-slide__seat">
                    </div>
                </div>
            </div>
            <div class="title-screen__slide 
                        title-screen-slide 
                        title-screen-slide_number_second 
                        swiper-slide">
                <img src="/img/title-screen/slide-2/slide-2-mobile.webp" loading="lazy" alt="slide-2" class="title-screen-slide__bg-mobile">
                <img src="/img/title-screen/slide-2/slide-2.webp" loading="lazy" alt="slide-2" class="title-screen-slide__bg">
                <div class="title-screen-slide__content container">
                    <div class="title-screen-slide__text">
                        <h1 class="title-screen-slide__title">
                            @@if (context.lang == 'tr'){
                                Konforlu Kaptan ve Yolcu koltukları
                            }
                            @@if (context.lang == 'en'){
                                Comfortable seats for&nbsp;the&nbsp;captain and&nbsp;passengers
                            }
                            @@if (context.lang == 'ru'){
                                Комфортабельные кресла капитана и&nbsp;пассажиров
                            }
                        </h1>
                        <div data-popup="contact"
                            class="title-screen-slide__button button">
                            <div class="title-screen-slide__button-text button__text">
                                @@if (context.lang == 'tr'){İletişim}
                                @@if (context.lang == 'en'){Contact}
                                @@if (context.lang == 'ru'){Связаться}
                            </div>
                        </div>
                    </div>
                    <div class="title-screen-slide__image">
                        <svg class="title-screen-slide__hexagon-big">
                            <use xlink:href="/img/icon_sprite/sprite.svg#hexagon-big"></use>
                        </svg>
                        <img src="/img/title-screen/slide-2/seat-2.webp" loading="lazy" alt="seat-2" class="title-screen-slide__seat">
                    </div>
                </div>
            </div>
            <div class="title-screen__slide 
                        title-screen-slide 
                        title-screen-slide_number_third 
                        swiper-slide">
                <img src="/img/title-screen/slide-3/slide-3-mobile.webp" loading="lazy" alt="slide-3" class="title-screen-slide__bg-mobile">
                <img src="/img/title-screen/slide-3/slide-3.webp" loading="lazy" alt="slide-3" class="title-screen-slide__bg">
                <div class="title-screen-slide__content container">
                    <div class="title-screen-slide__text">
                        <h2 class="title-screen-slide__title">
                            @@if (context.lang == 'tr'){
                                Eğlence teknelerinden yatlardan,
                                hızlı servis gemilerine kadar rahat ve güvenli çözümler
                            }
                            @@if (context.lang == 'en'){
                                Comfortable and&nbsp;safe solutions from
                                pleasure boats and&nbsp;yachts to high&nbsp;-&nbsp;speed service ships
                            }
                            @@if (context.lang == 'ru'){
                                Комфортные и&nbsp;безопасные решения от&nbsp;прогулочных
                                катеров и&nbsp;яхт до&nbsp;скоростных служебных кораблей
                            }
                        </h2>
                        <div data-popup="contact"
                            class="title-screen-slide__button button">
                            <div class="title-screen-slide__button-text button__text">
                                @@if (context.lang == 'tr'){İletişim}
                                @@if (context.lang == 'en'){Contact}
                                @@if (context.lang == 'ru'){Связаться}
                            </div>
                        </div>
                    </div>
                    <div class="title-screen-slide__image">
                        <svg class="title-screen-slide__hexagon-big">
                            <use xlink:href="/img/icon_sprite/sprite.svg#hexagon-big"></use>
                        </svg>
                        <img src="/img/title-screen/slide-3/seat-3.webp" loading="lazy" alt="seat-3" class="title-screen-slide__seat">
                    </div>
                </div>
            </div>
        </div>
        <div class="title-screen__slider-pagination"></div>
    </div>
</section>